.footer-logo {
  position: relative;
  width: 30vw;
  margin: auto;
  bottom: 13vh;
  top: 65vh;
  left: -30vw;
}

.logo {
  width: auto;
  height: 20vmin;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .footer-logo {
    top: 70vh;
    left: -30vw;
  }
}
